*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategray;
}
.searchBox{
    background-color: slategray;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 15vh;
}
#input{
     padding: 10px; 
     outline: none; 
     background-color: transparent;
     color: white;
     border: 1px solid white;
}
#input::placeholder{
    color: white;
}
#btn{
    outline: none;
    color: black;
    background-color: white;
    border: 0;
    padding: 10px;
    border-radius: 20px;
}
#btn:hover{
    background-color: lightgray;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
}
.weatherBox{ 
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    height: 75vh;
    gap: 20px;
}
.temp{
    font-size: 20px;
    height: 50px;
    width: 50px;
}
.location{
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.date-time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}
.innerBox{
    padding: 15px;
    display: flex;
   flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}
#line{
    height: 2px;
    width: 40px;
    background-color: white;    
}

